.bg-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: Roboto;
    color: #ffffff;

}

.message-received {
    background-color: #52606d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;

}

.message-sent {
    text-align: right;
    background-color: #47a3f3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px;

}

.head {
    background-color: #323f4b;


}